{% extends "portal_cliente.html" %}{% load static from staticfiles %}  {% load i18n widget_tweaks %}

{% block metatags %}
    <title>Dashboard - {{request.user}}</title>
{% endblock %}

{% block content %}
	<div class="page-header row no-gutters py-4">
      <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <h3 class="page-title"><i class="fas fa-calendar"></i> Dashboard </h3>
      </div>
    </div>
    <div class="row">
		<div class="col-lg col-md-6 col-sm-6 mb-4">
	        <div class="stats-small stats-small--1 card card-small">
	          <div class="card-body p-0 d-flex">
	            <div class="d-flex flex-column m-auto">
	              <div class="stats-small__data text-center">
	                <span class="stats-small__label text-uppercase">Citas Este Mes</span>
	                <h6 class="stats-small__value count my-3">{{total_citas}}</h6>
	              </div>
	            </div>
	            <canvas height="120" class="blog-overview-stats-small-2"></canvas>
	          </div>
	        </div>
	    </div>
	    <div class="col-lg col-md-4 col-sm-12 mb-4">
                <div class="stats-small stats-small--1 card card-small">
                  <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                      <div class="stats-small__data text-center">
                        <span class="stats-small__label text-uppercase">Citas Faltantes en el Año</span>
                        <h6 class="stats-small__value count my-3">{{citas_faltantes}}</h6>
                      </div>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-3"></canvas>
                  </div>
                </div>
              </div>
	</div>
{% endblock %}

{% block resources %}
	<script src="{% static 'assets/js/index.js' %}"></script>
{% endblock %}