{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		{% block metatags %}{% endblock %}
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/main2.css' %}">
		<link rel="stylesheet" href="{% static 'assets/fontaweasome/css/all.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
  		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  		<link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
  		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	</head>
	<body class="is-preload">
		<div id="page-wrapper">
			<div id="header">
				<nav id="nav">
					<img src="{% static 'images/Logo-Happy-Pets-large2.png' %}" width="60%" height="22%">
					<ul>						
						<li id="menu1" class="current"><a href="{% url 'index' %}"><i class="fa fa-home"></i> Inicio</a></li>
						<li id="menu2"><a href="{% url 'servicios' %}"><i class="fa fa-info-circle"></i> Servicios</a></li>
						<li id="menu3"><a href="{% url 'nosotros' %}"><i class="fa fa-hospital-o"></i> ¿Quienes Somos?</a></li>
						<li id="menu4"><a href="{% url 'contacto' %}"><i class="fa fa-phone"></i> Contacto</a></li>
						<li class="nav-item dropdown">
							{% if not request.user.is_authenticated %}
					        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					         	Portal
					        </a>
					        <div class="dropdown-menu divtest test"  aria-labelledby="navbarDropdownMenuLink">
					          <a class="dropdown-item text-center" href="{% url 'account_login' %}"><i class="fa fa-sign-in-alt "></i> Iniciar Sesion</a>
					          <a class="dropdown-item text-center" href="{% url 'account_signup' %}"><i class="fa fa-user-plus"></i> Crear Cuenta</a>
					          {% else %}
					          <a class="dropdown-item text-center" href="{% url 'lista_citas' %}"><i class="fa fa-user-circle"></i> Ir a mi cuenta</a>
					          
					        </div>
					        {% endif %}
					     </li>
					</ul>
				</nav>
			</div>

			<section class="wrapper style1">
				<div class="container">
					<div id="content">
						{% for message in messages %}
                      	<div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          		<span aria-hidden="true">&times;</span>
                        	</button>
                        	{{ message|safe }}
                      	</div>
                    	{% endfor %}

                    	{% block content %}
        				{% endblock %}
					</div>
				</div>
			</section>
			
			<div id="footer">
				<div class="container">
					<div class="row">
					</div>
				</div>
				<p></p>
				{% if request.path != "/mapa-de-sitio/" %}
				<ul class="icons">
					<li>
						<a href="{% url 'mapa_sitio' %}">Mapa de sitio</a>
						<p></p>
						<a href="{% url 'documentacion' %}">FAQs</a>
						<p></p>
					</li>
				</ul>
				{%endif%}

				<div class="copyright">
					<ul class="menu">
						<li>&copy; Clinica Veterinaria "Happy Pets". Todos los derechos reservados</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
					<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
				</ul>
			</div>
		</div>

		<script src="{% static 'assets/js/jquery.min.js'%}"></script>
		<script src="{% static 'assets/js/popper.min.js'%}"></script>
		<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
		{% block resources %}
		{% endblock %}
	</body>
</html>